#Django
SECRET_KEY="your-secret-key-here"
DEBUG="True"
ALLOWED_HOSTS=["localhost","127.0.0.0","mydomain.com"]

#PostgreSQL
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="your-postgres-password"
POSTGRES_DB="mydb"
DATABASE_URL="postgres://user:password@db:5432/mydb"

#Redis
REDIS_URL="redis://redis:6379/0"